{% load static %} 
<header>
    <div class="container-fluid">
        <div class="row my-custom-row justify-content-between align-items-center">
            <div class="col-auto">
                <a href="{% url 'gestao:index' %}"><div class="my-custom-logo"><img src="{% static '/images/logo3.png' %}" alt="logo"></div></a>
            </div>         
            <div class="col-auto d-flex justify-content-end">
                <div class="p-2 my-custom-col mx-1"><a class="redirecttext" href="{% url 'gestao:listarfilmes' %}">Filmes</a></div>
                <div class="p-2 my-custom-col mx-1"><a class="redirecttext" href="{% url 'gestao:listarseries' %}">Séries</a></div>
                {% if user.is_authenticated %}
                    <div class="p-2 my-custom-col mx-1"><a href="{% url 'gestao:infouser' user.id %}" class="redirecttext">{{user.username}}</a></div>
                    <div class="p-2 my-custom-col mx-1"><a class="redirecttext" href="{% url 'gestao:logout' %}">Logout</a></div>
                {% else %}
                    <div class="p-2 my-custom-col mx-1"><a class="redirecttext" href="{% url 'gestao:login' %}">Login</a></div>
                    <div class="p-2 my-custom-col mx-1"><a class="redirecttext" href="{% url 'gestao:register' %}">Cadastro</a></div>
                {% endif %}
            </div>
        </div>
    </div>
</header>