:root{
    --color-white: #fff;
    --color-dark1: #272727;
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-purple: #b040ff;
}

.bodygeral{
    background-color: #343434;
}

.my-custom-row{
    background-color: var(--color-dark1);
    height: 4rem;
}

.my-custom-carousel{
    width: 60%;
}

.my-custom-col{
    border-radius: 5px;
    background-color: rgb(109, 31, 126);
}

.my-custom-col:hover{
    background-color: rgb(104, 4, 111);
}

.my-custom-logo img{
    width: 70px;
    height: 60px;
}

.imgslidercustom {
    height: 30rem;
    width: 45rem;
}

.font-noticia {
    font-size: 20px;
}

.divfora {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.bodylogin{
    background-color: var(--color-dark1);
}

.my-container-form{
    color: black;
    border-radius: 10px;
    background-color: var(--color-dark1);
}

.my-container-form2{
    color: black;
    border-radius: 10px;
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: space-between; 
}

.my-custom-form{
    background-color: rgb(109, 31, 126);
    border-radius: 5px;
    width: 60%;
    color: black;
}

.my-custom-form2{
    margin-right: 40px;
}

.my-custom-form3{
    border-radius: 10px;
}

.btn-my-custom-button{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(109, 31, 126);
}

.divlogin {
    border-radius: 15px;
    width: 400px;
    padding: 70px; 
    background-color: rgba(45, 0, 67, 0.9);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.inputlogin{
    width: 91%;
    padding: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    transform: translate(0%,-60%);
}

.bodyindex{
    background-color: var(--color-dark1);
    color: var(--color-white);
}

.buttonlogin{
    background-color: rgb(106, 23, 201);
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transform: translate(0%,-30%);
}

.buttonlogin:hover{
    background-color: rgb(120, 41, 166);
}

.h1login{
    color: white;
    font-size: 45px;
    text-align: center;
    transform: translate(0%,-30%);
}

.h2login{
    transform: translate(0%,-30%);
    font-size: 15px;
    text-align: center;
    color: rgb(106, 23, 201);
}

.alogin{
    text-decoration: none;
}

.alogin:hover{
    color: rgb(120, 41, 166)
}

.redirecttext{
    color: black;
    text-decoration: none;
}

.custom-card{
    max-height: 50px;
}

.filmes-container{
    border-radius: 7px;
    display: flex;
    height: 310px;
    justify-content: space-between; 
}

.filmes-row{
    width: 200px;
    height: 350px;
    max-height: 300px;
    background-color: rgb(109, 31, 126);
    border-radius: 15px;
}



.images-row{
    width: 160px;
    height: 170px;
}


.filmes-row img{
    border-radius: 5px;
    width: 160px;
    height: 170px;
}

.filme-info-row img{
    border-radius: 10px;  
    width: 500px;
    height: 500px;
}

.filme-nota-boa{
    border-radius: 5px;
    width: 40px;
    height: 32px;
    background-color: goldenrod;
}

.filme-nota-media{
    border-radius: 5px;
    width: 40px;
    height: 32px;
    background-color: rgb(196, 186, 160);
}

.filme-nota-ruim{
    border-radius: 5px;
    width: 40px;
    height: 32px;
    background-color: rgb(184, 19, 19);
}

.filme-info-col {
    background-color: rgb(109, 31, 126);
    border-radius: 5px;
    width: 60%;
    color: black;
}

.filme-info-col2 {
    font-size: 35px;
    border-radius: 5px;
    width: 60%;
    color: black;
}

.filme-reviews-col{
    width: 200px;
    border-radius: 10px;
    background-color: rgb(109, 31, 126);

}


