{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container p-2 mb-5 mt-5 my-container-form">
    {% for filmes in page_obj %}
        {% cycle 1 2 3 4 5 6 as contador silent %}
        {% with contador=contador %}
            {% if contador == 1 %}
                <div class="container filmes-container mt-5 p-1">
            {% endif %}
                    <a href="{% url 'gestao:infofilme' filmes.id %}" class="text-decoration-none text-black">
                        <div class="row filmes-row p-2 mx-1 justify-content-center">
                            <div class="col-12 col-md-12 custom-card text-center">
                                <p>{{ filmes.nome }} ({{ filmes.data.year }})</p>
                            </div>
                            <div class="col-12 col-md-12 images-row mb-3 text-center">
                                <img src="{% static filmes.poster %}" alt="{{ filmes.nome }}" class="d-block mx-auto img-fluid"/>
                            </div>
                            {% if filmes.nota_media > 7 %}
                                <div class="col-12 col-md-3 p-1 filme-nota-boa text-center">
                                    {{ filmes.nota_media }}
                                </div>
                            {% elif filmes.nota_media > 5 and filmes.nota_media < 8 %}
                                <div class="col-12 col-md-2 p-1 filme-nota-media text-center">
                                    {{ filmes.nota_media }}
                                </div>
                            {% elif filmes.nota_media < 6 %}
                                <div class="col-12 col-md-2 p-1 filme-nota-ruim text-center">
                                    {{ filmes.nota_media }}
                                </div>
                            {% else %}
                                <div class="col-12 col-md-2 p-1 filme-nota-media text-center">
                                    ?
                                </div>
                            {% endif %}
                        </div>
                    </a>
            {% if contador == 6 %}
                </div>
            {% endif %}
        {% endwith %}
    {% endfor %}
</div>
{% endblock content %}