{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container filmes-container mt-5 p-1">
    {% for filmes in page_obj %}
    <div class="row filmes-row p-2 mx-1 justify-content-center">
        <div class="col-12 col-md-12 custom-card text-center">
            <p>{{ filmes.nome }} ({{filmes.data.year}})</p>
        </div>
        <div class="col-12 col-md-12 images-row mb-3 text-center">
            <img src="{% static filmes.poster %}" alt="{{ filmes.nome }}" class="d-block mx-auto img-fluid"/>
        </div>
        <div class="col-12 col-md-2 p-1 filme-nota text-center">
            {{ filmes.nota_media }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}