{% extends 'base.html' %} {% load static %} {% block content %}
<div class="divindex">
    <div class="slider">
        <div class="slides">
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <input type="radio" name="radio-btn" id="radio4">
            {% for noticia in noticias %}
                {% if forloop.first %}
                    <div class="slide first">
                        <img src="{% static noticia.imagem %}" alt="Noticia"/>
                        <div class="text-overlay">
                            <div class="text-overlay-titulo">
                                {{ noticia.nome }}
                            </div>
                            <div>
                                {{ noticia.texto }}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="slide">
                        <img src="{% static noticia.imagem %}" alt="Noticia"/>
                        <div class="text-overlay">
                            <div class="text-overlay-titulo">
                                {{ noticia.nome }}
                            </div>
                            <div>
                                {{ noticia.texto }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
                <div class="navigation-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                    <div class="auto-btn4"></div>
                </div>
        </div>
        <div class="manual-navigation">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
            <label for="radio4" class="manual-btn"></label>
        </div>
    </div>
</div>

{% endblock content%}