{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container my-container-form mt-5">
    {% if user.is_admin %}
        <div class="container p-1 mb-1 mt-1 container-list">
            <a href="{% url 'gestao:criarnoticia' %}" class="text-decoration-none custom-card2 text-black">
                <div class="col-12 col-md-12 custom-card2 text-center"> + </div>
            </a>
        </div>
    {% endif %}
    <div class="row">
        <div class="col">
            <div class="carousel slide" data-bs-ride="carousel" id="ads">
                <div class="carousel-inner my-custom-carousel">
                    {% for noticia in noticias %}
                        {% if forloop.first %}
                            <div class="carousel-item active">
                                <a href="{% url 'gestao:infonoticia' noticia.id %}" class="aindex">
                                <img src="{% static noticia.imagem %}" alt="Noticia" class="d-block imgslidercustom">
                                </a>
                            </div>
                        {% else %}
                            <div class="carousel-item">
                                <a href="{% url 'gestao:infonoticia' noticia.id %}" class="aindex">
                                <img src="{% static noticia.imagem %}" alt="Noticia" class="d-block imgslidercustom">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" data-bs-target="#ads" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" data-bs-target="#ads" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>
        </div>
        <div class="col d-flex mt-3 mb-3">
            {% for noticia in noticias %}
            <a href="{% url 'gestao:infonoticia' noticia.id %}" class="aindex">
                <div id="slide-text-{{ forloop.counter }}" class="slidetexto">
                    <div class="col font-noticia mb-1"><b>{{ noticia.nome }}</b></div>
                    <div class="col">{{noticia.texto}}</div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
var carousel = document.querySelector('#ads');
var slideTexts = document.querySelectorAll('.slidetexto');

function hideAllTexts() {
    slideTexts.forEach(function(text) {
        text.style.display = 'none';
    });
}

carousel.addEventListener('slide.bs.carousel', function (event) {
    hideAllTexts();
    var activeSlide = event.to + 1;
    document.querySelector('#slide-text-' + activeSlide).style.display = 'block';
});

hideAllTexts();
document.querySelector('#slide-text-1').style.display = 'block';
</script>
{% endblock content %}
