{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container p-5 mb-5 mt-5 my-container-form">
    {% if filme %}
        <div class="row filme-info-row">
            <div class="col mb-5">
                <img src="{% static filme.poster %}" alt="{{ filme.nome }}" class="d-block mx-auto img-fluid"/>
            </div>
        </div>
        <div class="mx-auto col p-1 filme-info-col mb-3"><b>Nota: </b>{{ filme.nota_media }}</div>
        <div class="mx-auto col p-1 filme-info-col mb-3"><b>Título: </b>{{ filme.nome }}</div>
        <div class="mx-auto col p-1 filme-info-col mb-3"><b>Lançamento: </b>{{filme.data}}</div>
        <div class="mx-auto col p-1 filme-info-col mb-3"><b>Diretor: </b>{{ filme.diretor }}</div>
        <div class="mx-auto col p-1 filme-info-col mb-3"><b>Duração: </b>{{ filme.duracao }}</div>
        <div class="mx-auto col p-1 filme-info-col mb-3"><b>Classificação: </b>{{ filme.nome }}</div>
        <div class="mx-auto col p-1 filme-info-col"><b>Sinopse: </b>{{ filme.desc }}</div>
    {% elif serie %}
        <div class="row filme-info-row">
            <div class="col mb-5">
                <img src="{% static serie.poster %}" alt="{{ serie.nome }}" class="d-block mx-auto img-fluid"/>
            </div>
        </div>
        <div class="mx-auto col p-1 filme-info-col mb-3"><b>Nota: </b>{{ serie.nota_media }}</div>
        <div class="mx-auto col p-1 filme-info-col mb-3"><b>Título: </b>{{ serie.nome }}</div>
        <div class="mx-auto col p-1 filme-info-col mb-3"><b>Lançamento: </b>{{serie.data_lancamento}}</div>
        <div class="mx-auto col p-1 filme-info-col mb-3"><b>Diretor: </b>{{ serie.diretor }}</div>
        <div class="mx-auto col p-1 filme-info-col mb-3"><b>Episódios: </b>{{ serie.episodios }}</div>
        <div class="mx-auto col p-1 filme-info-col mb-3"><b>Temporadas: </b>{{ serie.temporadas }}</div>
        <div class="mx-auto col p-1 filme-info-col"><b>Sinopse: </b>{{ serie.sinopse }}</div>
    {% elif review %}
        <div class="mx-auto col p-1 filme-info-col mb-3"><b>{{Fonte}}: </b>{{ fonte }}</div>
        <div class="mx-auto col p-1 filme-info-col mb-3"><b>Usuário: </b>{{ review.usuario }}</div>
        <div class="mx-auto col p-1 filme-info-col mb-3"><b>Nota: </b>{{ review.nota }}</div>
        <div class="mx-auto col p-1 filme-info-col"><b>Review: </b>{{ review.review }}</div>
    {% endif %}
</div>
{% if filme or serie %}
    <div class="container p-2 mb-5 mt-5 my-container-form">
        <div class="mx-auto col p-1 filme-info-col2 text-center">
            <b>REVIEWS</b>
        </div>
            {% for reviews in page_obj %}
                {% cycle 1 2 3 4 5 6 as contador silent %}
                {% with contador=contador %}
                    {% if contador == 1 %}
                        <div class="container p-3 mb-1 mt-2 my-container-form2">
                    {% endif %}

                    <a href="{% url counterlink reviews.id %}" class="text-decoration-none text-black">
                        <div class="row filme-reviews-col text-center">
                            <div class="col">
                                <p class="mt-2"><b>{{reviews.usuario}}</b> - {{reviews.nota}}</p>
                            </div>
                        </div>
                    </a>
                    {% if contador == 6 %}
                        </div>
                    {% endif %}
                {% endwith %}
            {% endfor %}
    </div>
{% endif %}
{% endblock content %}
