{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container p-5 mb-5 mt-5 my-container-form">
    {% if item %}
            <div class="row filme-info-row">
                <div class="col mb-5">
                    <img src="{% static item.poster %}" alt="Poster" class="d-block mx-auto img-fluid"/>
                </div>
            </div>
            <div class="mx-auto col p-1 filme-info-col mb-3"><b>Nota: </b>{{ item.nota_media }}</div>
            <div class="mx-auto col p-1 filme-info-col mb-3"><b>Título: </b>{{ item.nome }}</div>
            <div class="mx-auto col p-1 filme-info-col mb-3"><b>Lançamento: </b>{{item.data}}</div>
            <div class="mx-auto col p-1 filme-info-col mb-3"><b>Diretor: </b>{{ item.diretor }}</div>
            {% if item.duracao %}
                <div class="mx-auto col p-1 filme-info-col mb-3"><b>Duração: </b>{{ item.duracao }}</div>
                <div class="mx-auto col p-1 filme-info-col mb-3"><b>Classificação: </b>{{ item.classificacao }}</div>
            {% else %}
                <div class="mx-auto col p-1 filme-info-col mb-3"><b>Episódios: </b>{{ item.episodios }}</div>
                <div class="mx-auto col p-1 filme-info-col mb-3"><b>Temporadas: </b>{{ item.temporadas }}</div>
            {% endif %}
            <div class="mx-auto col p-1 filme-info-col mb-3"><b>Sinopse: </b>{{ item.sinopse }}</div>
            {% if user.is_admin %}
                <a href="{% url update item.id %}" class="text-decoration-none text-black"><div class="mx-auto col p-1 filme-info-col mb-3"><b>Atualizar</b></div></a>
                <a href="{% url delete item.id %}" class="text-decoration-none text-black"><div class="mx-auto col p-1 filme-info-col mb-3"><b>Apagar</b></div></a>
            {% endif %}
    {% elif review %}
        <div class="mx-auto col p-1 filme-info-col mb-3"><b>{{Fonte}}: </b>{{ fonte }}</div>
        <a href="{% url 'gestao:infouser' review.usuario.id %}" class="text-decoration-none text-black"><div class="mx-auto col p-1 filme-info-col mb-3"><b>Usuário: </b>{{ review.usuario }}</div></a>
        <div class="mx-auto col p-1 filme-info-col mb-3"><b>Nota: </b>{{ review.nota }}</div>
        <div class="mx-auto col p-1 filme-info-col mb-4"><b>Review: </b>{{ review.review }}</div>
        {% if review.usuario == user %}
            <a href="{% url update review.id %}" class="text-decoration-none text-black"><div class="mx-auto col p-1 filme-info-col mb-3"><b>Atualizar</b></div></a>
            <a href="{% url delete review.id %}" class="text-decoration-none text-black"><div class="mx-auto col p-1 filme-info-col mb-3"><b>Apagar</b></div></a>
        {% endif %}
    {% elif usuario %}
        <div class="mx-auto col p-1 filme-info-col mb-3"><b>Username: </b>{{ usuario.username }}</div>
    {% elif noticia %}
        <div class="row filme-info-row">
            <div class="col mb-5">
                <img src="{% static noticia.imagem %}" alt="{{noticia.nome}}" class="d-block mx-auto img-fluid"/>
            </div>
        </div>
        <div class="mx-auto col p-1 filme-info-col mb-3"><b>Titulo: </b>{{ noticia.nome }}</div>
        <div class="mx-auto col p-1 filme-info-col mb-3"><b>Descrição: </b>{{ noticia.texto }}</div>
        <div class="mx-auto col p-1 filme-info-col mb-3"><b>Data de Publicação: </b>{{ noticia.data.day }}/{{ noticia.data.month }}/{{ noticia.data.year }}</div>
        <div class="mx-auto col p-1 filme-info-col mb-3"><b>Publicador: </b>{{ noticia.usuario }}</div>
        {% if user.is_admin %}
            <a href="{% url 'gestao:updatenoticia' noticia.id %}" class="text-decoration-none text-black"><div class="mx-auto col p-1 filme-info-col mb-3"><b>Atualizar</b></div></a>
            <a href="{% url 'gestao:deletenoticia' noticia.id %}" class="text-decoration-none text-black"><div class="mx-auto col p-1 filme-info-col mb-3"><b>Apagar</b></div></a>
        {% endif %}
    {% endif %}
</div>
{% if item %}
    <div class="container p-2 mb-5 mt-5 my-container-form">
        <div class="mx-auto col p-1 filme-info-col2 text-center">
            <b>REVIEWS</b>
        </div>
            {% for reviews in page_obj %}
                {% cycle 1 2 3 4 5 6 as contador silent %}
                {% with contador=contador %}
                    {% if contador == 1 %}
                        <div class="container p-3 mb-1 mt-2 my-container-form2">
                    {% endif %}

                    <a href="{% url counterlink reviews.id %}" class="text-decoration-none text-black">
                        <div class="row filme-reviews-col text-center">
                            <div class="col">
                                <p class="mt-2"><b>{{reviews.usuario}}</b> - {{reviews.nota}}</p>
                            </div>
                        </div>
                    </a>
                    {% if contador == 6 %}
                        </div>
                    {% endif %}
                {% endwith %}
            {% endfor %}
    </div>
{% endif %}
{% endblock content %}
