{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container p-2 mb-5 mt-5 my-container-form">
    {% if items %}
        {% for items in page_obj %}
            {% cycle 1 2 3 4 5 6 as contador silent %}
            {% with contador=contador %}
                {% if contador == 1 %}
                    <div class="container filmes-container mt-1 p-1">
                {% endif %}
                        <a href="{% url redirect items.id %}" class="text-decoration-none text-black">
                            <div class="row filmes-row p-2 mx-1 justify-content-center">
                                <div class="col-12 col-md-12 custom-card text-center">
                                    <p>{{ items.nome }} ({{ items.data.year }})</p>
                                </div>
                                <div class="col-12 col-md-12 images-row mb-3 text-center">
                                    <img src="{% static items.poster %}" alt="{{ items.nome }}" class="d-block mx-auto img-fluid"/>
                                </div>
                                {% if items.nota_media > 7 %}
                                    <div class="col-12 col-md-3 p-1 filme-nota-boa text-center">
                                        {{ items.nota_media }}
                                    </div>
                                {% elif items.nota_media > 5 and filmes.nota_media < 8 %}
                                    <div class="col-12 col-md-2 p-1 filme-nota-media text-center">
                                        {{ items.nota_media }}
                                    </div>
                                {% elif items.nota_media < 6 %}
                                    <div class="col-12 col-md-2 p-1 filme-nota-ruim text-center">
                                        {{ items.nota_media }}
                                    </div>
                                {% else %}
                                    <div class="col-12 col-md-2 p-1 filme-nota-media text-center">
                                        ?
                                    </div>
                                {% endif %}
                            </div>
                        </a>
                {% if contador == 6 %}
                    </div>
                {% endif %}
            {% endwith %}
        {% endfor %}
    {% endif %}
</div>
{% endblock content %}