{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container p-5 mb-5 mt-5 my-container-form">
    <div class="mx-auto col p-1 filme-info-col mb-3"><b>Filme: </b>{{ review.filme }}</div>
    <div class="mx-auto col p-1 filme-info-col mb-3"><b>Usuário: </b>{{ review.usuario }}</div>
    <div class="mx-auto col p-1 filme-info-col mb-3"><b>Nota: </b>{{ review.nota }}</div>
    <div class="mx-auto col p-1 filme-info-col"><b>Review: </b>{{ review.review }}</div>
</div>
{% endblock content %}